/* header,
footer,
section {
    position: absolute;
    left: 0px;
    right: 0px;
    
}

header {
    top: 0px;
    background-color: aqua;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

footer {
    height: 20px;
    bottom: 0px;
    background-color: black;
    color: white;
    text-align: center;
}

section {
    top: 51px;
    bottom: 21px;
    background-color: whitesmoke;
} */


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}